<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .container {
            width: 100%;
            padding: 30px;
            background-color: gray;
        }

        .content {
            background-color: white;
            padding: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="content">
        <h4><%= locals.header %></h4>
        <hr>
        <h3><%= locals.password %></h3>
        <hr>
        <%= locals.footer %>
    </div>
</div>
</body>
</html>
